#carouselExampleInterval {
    max-height: 400px;
    overflow: hidden;
}

#carouselExampleInterval .carousel-inner img {
    max-height: 400px;
    object-fit: cover;
}

.carousel-item {
    transition: transform 1s ease-in-out;
  
}

.carousel-item.active {
    display: block;
}

#plansCarousel .carousel-control-prev,
#plansCarousel .carousel-control-next {
    display: flex !important;
    align-items: center;
    justify-content: center;
    opacity: 1 !important;

    border-radius: 50%;
    width: 35px;
    height: 35px;
    top: 50%;
    transform: translateY(-50%);
}

#plansCarousel .carousel-control-prev {
    left: -8px;
}

#plansCarousel .carousel-control-next {
    right: -8px;}

#plansCarousel .carousel-control-prev-icon,
#plansCarousel .carousel-control-next-icon {
    filter: invert(100%);

}

.btn-primary:hover,
.btn-primary:active {
    background-color: #EACDDA !important;
    border-color: #970747 !important;
    color: #970747 !important;
    box-shadow: none !important;
}
#filter{
    background-color: #EACDDA !important;
}
          .card:hover {
              transform: translateY(-5px);
              box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
              transition: transform 0.3s ease, box-shadow 0.3s ease;
          }